body, *:fullscreen {
  background-color: #1E28A7;
}

h1 {
  font-family: 'BioRhyme', serif;
  font-size: 5em;
  color: white;
  letter-spacing: 0.05em;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  z-index: 7;
  margin: 20px;
}

header {
  text-align: center;
  z-index: 10;
}

.artist-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 10;
  height: 585px;
}

.artist-element {
  margin: auto;
  margin-bottom: 5px;
  width: 630px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artist-name {
  flex: 5;
  margin-right: 5px;
  font-size: 1.7em;
}

.song-name {
  flex: 7;
  padding-top: 8px;
  font-size: 1.1em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7)
}

.score {
  margin-left: auto;
  margin-right: 20px;
  font-size: 2.5em;
}

img.flag {
  height: 90%;
  width: auto;
  margin-left: 5px;
  margin-right: 20px;
}